@import "./../../variables/root";

.events {
    max-width: var(--w-main-maxwidth);
    width: var(--w-main-width);
    margin: auto;
    color: var(--c-blue);
    &__wrapper {
        margin: 2rem 1rem;
        @media screen and (max-width: $wMobile) {
            margin: 5rem 1rem 2rem;
        }
    }
    
    &__lista {

    }
    
    &__title {
        font-weight: 600;
        font-size: 2.5rem;
        margin-bottom: 1rem;
        font-family: var(--f-pretty);
        font-optical-sizing: none;
    }

    &__event {}
}
.event {
    padding: .5rem;
    margin-bottom: 1rem;
    background-color: var(--c-lightblue);
    color: var(--c-blue);
    &__title {
        font-size: 1.2rem;
        margin-bottom: 1rem;
        display: flex;
        flex-flow: row-reverse nowrap;
        justify-content: flex-end;
        align-items: center;
    }
    
    &__text {
        line-height: 1.2;
    }
}


.title {
    &__text {}
    
    &__date {
        margin-right: .5rem;

    }
}